<div xmlns:th="http://www.thymeleaf.org">
    <div class="panel " style="background-color: rgb(255, 0, 93)">
        <div class="panel-heading">
            <b class="	glyphicon glyphicon-briefcase"></b> Danh mục
        </div>
        <div class="list-group">
            <th:block th:each="c:${cats}">
                <a th:href="@{|/product/list?cid=${c.id}|}" class="list-group-item">
                    <b class="	glyphicon glyphicon-gift"></b>
                    <span th:text="${c.name}"></span>
                </a>
            </th:block>
        </div>
    </div>
</div>